@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* body */
body {
    font-family: 'Poppins', sans-serif;
}

.skeleton-loader {
    width: 100%;
    height: 20px;
    background-image: linear-gradient(red 50%, green 50%);
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.6;
    }
}